/* Imports */
@import url("pico.grey.css");
@import url("pico.colors.css");

/* Global CSS variables */
:root, 
:host,
[data-theme=light],
:root:not([data-theme=dark]),
:host(:not([data-theme=dark])) {
  --pico-font-weight: 350;
  --pico-font-family-sans-serif: "Hanken Grotesk",system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
  --pico-font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace, var(--pico-font-family-emoji);
  --pico-font-family: var(--pico-font-family-sans-serif);
  --pico-font-family-emoji: 'Noto Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
  --pico-font-family-serif: "Crimson Pro", serif;
  --pico-primary-hover: var(--pico-color-pumpkin-500);
  --pico-primary-hover-underline: var(--pico-color-pumpkin-500);
  --pico-code-background-color: var(--pico-color-grey-50);
  --pico-primary: var(--pico-color-grey-700);
  --pico-color: var(--pico-primary);
  --pico-h1-color: var(--pico-primary);
  --pico-h2-color: var(--pico-primary);
  --pico-h3-color: var(--pico-primary);
  --pico-h4-color: var(--pico-primary);
  --pico-h5-color: var(--pico-primary);
  --pico-h6-color: var(--pico-primary);
  --pico-code-color: var(--pico-color-grey-600);
  --pico-code-background-color: var(--pico-color-grey-100);

}

/* Emoji styling */
.emoji {
    font-family: var(--pico-font-family-emoji) !important;
}

a:hover {
    color: var(--pico-primary-hover) !important;
}

html {
  background: radial-gradient(
    circle at 75% 33%,
    var(--pico-color-grey-50),
    var(--pico-color-grey-600)
  );
}

header {
    margin-top: calc(var(--pico-spacing) * 4);
}

header, main {
  background-color: white;
}

article footer {
    margin-top: calc(var(--pico-block-spacing-vertical) * 3);
}

body > footer, body > footer a {
    background-color: transparent;
    color: var(--pico-color-grey-300);
}

body > footer.container {
    padding-top: calc(var(--pico-block-spacing-vertical) * 1);
}

body > footer a:hover {
    color: var(--pico-color-grey-100) !important;
    text-decoration-color: transparent;
}

nav > ul:first-child > li {
    font-size: calc(var(--pico-font-size) * 2);
    font-family: var(--pico-font-family-serif);
    font-weight: 300;
}

nav > ul:first-child > li a {
    color: var(--pico-color-pumpkin-500);
}

nav > ul:first-child > li a:hover {
    text-decoration: none;
}

.container {
    padding: calc(var(--pico-block-spacing-vertical) * 2);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--pico-font-family-serif);
    font-weight:500;
    font-size: calc(var(--pico-font-size) * 1.25);
    letter-spacing: -0.01rem;
}

article {
    border-radius: 0;
    background: none;
    box-shadow: none;
    padding-left: 0;
    margin-bottom: 0;
}
article > header {
    margin-bottom: 0;
    border: 0;
    background-color: transparent;
}

article > section {
    margin-top: calc(var(--pico-block-spacing-vertical) * -1);
}

section.recent-articles {
    margin-top: calc(var(--pico-block-spacing-vertical) * 3);
}

h1.entry-title a,  h3 a, h4 a {
    text-decoration: none;
}

h3 a:hover, h4 a:hover {
    text-decoration: none;
}