/* Imports */
@import url("pico.sand.css");
@import url("pico.colors.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@400..700&display=swap");

/* Global CSS variables */
:root, 
:host,
[data-theme=light],
:root:not([data-theme=dark]),
:host(:not([data-theme=dark])) {
  --pico-font-weight: 350;
  --pico-font-family-sans-serif: "Hanken Grotesk",system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
  --pico-font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace, var(--pico-font-family-emoji);
  --pico-font-family: var(--pico-font-family-sans-serif);
  --pico-primary-hover: var(--pico-color-pumpkin-500);
  --pico-primary-hover-underline: var(--pico-color-pumpkin-500);
  --pico-code-background-color: var(--pico-color-sand-50);
  --pico-font-family-emoji: 'Noto Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
}

/* Emoji styling */
.emoji {
    font-family: var(--pico-font-family-emoji) !important;
    font-size: 1.2em;
    vertical-align: middle;
}
* {
    color: var(--pico-color-sand-800) !important;
}

a:hover {
    color: var(--pico-primary-hover) !important;
}

html, body {
  background-color: var(--pico-color-sand-50);
}

body {
    margin: calc(var(--pico-spacing) * 4) auto;
}

body > header.container {
    padding-top: calc(var(--pico-block-spacing-vertical) * 1);
}

header, main {
  background-color: white;
}

footer {
    background-color: transparent;
}

nav > ul:first-child > li {
    font-size: calc(var(--pico-font-size) * 2.5);
}

nav > ul:first-child > li a {
    color: var(--pico-color-pumpkin-500);
}

nav > ul:first-child > li a:hover {
    text-decoration: none;
}


.container {
    padding: calc(var(--pico-block-spacing-vertical) * 2);
}

article {
    border-radius: 0;
    background: none;
    box-shadow: none;
    padding-left: 0;
    margin-bottom: 0;
}
 article > header {
    margin-bottom: 0;
    border: 0;
    background-color: transparent;
 }

 article > section {
    margin-top: calc(var(--pico-block-spacing-vertical) * -1);
 }

 section.recent-articles {
    margin-top: calc(var(--pico-block-spacing-vertical) * 3);
 }

 h1.entry-title a,  h3 a, h4 a {
    text-decoration: none;
 }

 h3 a:hover, h4 a:hover {
    text-decoration: none;
 }